<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<main>
    <div class="jumbotron">
	<h1>Add User</h1>
	<form action="/users" method="POST">
		<div class="input-group">
			<label>Name</label>
			<input type="text" name="name">
		</div>

		<div class="input-group">
			<label>Email</label>
			<input type="text" name="email">
		</div>

		<div class="input-group">
			<label>Password</label>
			<input type="text" name="password">
		</div>


		<button type="submit">Send</button>
		<a href="/users">Kembali</a>
	</main>
	</form>
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Tiana Adela Pratiwi</p>
	</footer>
</body>
</html>