<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<%- include('components/navbar') %>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Let's Get Acquainted With Me</h1>
            <p>Hi My Name Is Tiana Adela Pratiwi</p>
            <p>You Can Call Me Adel</p>
            <p>My Hobbies Are Playing Games and Traveling</p>
            <p>Nice To Meet You ^-^</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Life Motto</h3>
            <p>"Keep doing good even though it is not considered good"</p>
        </div>
    </div>
</main>
	
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Tiana Adela Pratiwi</p>
	</footer>
</body>
</html>