<!DOCTYPE html>
<html>
<head>
	<title>Tiana Adela Pratiwi/title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<%- include('components/navbar') %>
	
<main>
    <div class="jumbotron">
        <h1>Welcome To My Website</h1>
        <p>Let's Learn Easily and Fast</p>
        <p><b>Hurry up, what are you waiting for!</b></p>
        <p>Belajar adalah perubahan yang relatif permanen dalam perilaku atau potensi perilaku sebagai hasil dari pengalaman atau latihan yang diperkuat.</p>
        <p>Belajar merupakan akibat adanya interaksi antara stimulus dan respons. Seseorang dianggap telah belajar sesuatu jika dia dapat menunjukkan perubahan perilakunya.</p>
        <p><b>"Barangsiapa tidak mau merasakan pahitnya belajar, ia akan merasakan hinanya kebodohan sepanjang hidupnya."</b></p>
        <p><b>- Imam Syafi’i</b></p>
    </div>
</main>

	<footer>
		<p class="text-center text-muted">© Copyright 2021 Tiana Adela Pratiwi</p>
	</footer>
</body>
</html>